.accordion {
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.accordionHeader h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0px;
}

.accordionIcon {
  background-color: #eeecec;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 6px;
}
.icon {
  display: flex;
  align-items: center;
}

.expanded {
  width: 100%; /* Ensure expanded content takes full width */
}
