/* Analytics.module.css */
.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 150px;
}
.card {
  background-color: #f9fcff;
  margin-right: 20px; /* Add space between cards */
  color: black;
  padding: 50px;
  height: 220px;
  width: 400px;
}

.countItem {
  margin-bottom: 20px; /* Add space between count items */
  display: flex;
  justify-content: space-between; /* Align items on both ends */
}
.countItem h3 {
  line-height: 2px;
  font-weight: bold;
  font-size: 20px;
}
.countItem span {
  font-weight: light;
  margin-top: 20px;
  font-size: 18px;
  align-items: center;
  margin-left: 10px;
  text-align: left;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #90c4cc;
  display: inline-block;
}
