.inputContainer {
  position: relative;
  width: 100%;
  border-radius: 20px;
  border-color: #d0d0d0;
  background-color: white;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 24px;
}

.passwordIcon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

input {
  padding-left: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: white;
  color: #828282;
}

input::placeholder {
  color: #828282;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
