.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fcff;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 650px;
  height: 800px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 62px 33px 62px 33px;
  background-color: #fff;
}

.todoItem {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tag {
  font-size: 12px;
  background-color: #f0f0f0;
  color: #666;
  padding: 4px 8px;
  border-radius: 4px;
}

.priorityTag {
  font-size: 8px;
  color: #767575;
}
.priorityDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.title {
  font-size: 30px;
  margin: 0;
  color: black;
}

.menu {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.menuIcon {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  margin-bottom: 16px;
}

.footer {
  display: flex;
  gap: 50px;
}

.date {
  font-size: 8px;
  background-color: #cf3636;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.buttonsContainer {
  display: flex;
  gap: 8px;
}

.moveCardBtn {
  font-size: 8px;
  background-color: #eeecec;
  color: #767575;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

/* ModernCardMenu.module.css */

/* ModernCardMenu.module.css */

.menuModal {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 999; /* Ensure the modal appears on top */
}

.menuOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuOptions button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  justify-content: left;
  cursor: pointer;
  color: black;
}

.menuOptions button:hover {
  background-color: #f0f0f0;
}
