/* TaskModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.modal h2 {
  margin-bottom: 10px;
  color: black;
}

.header label {
  margin-bottom: 5px;
  color: black;
}

.header input[type="text"] {
  width: 100%;
  height: 44px;
  padding: 10px 16px 10px 16px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
}

.header button {
  margin-right: 10px;
}

.header {
  padding: 25px 40px 10px 40px;
}

.checklistContainer {
  padding: 32px 0px 0px 40px;
}

.checklistItems {
  padding: 20px 24px 0px 0px;
  overflow-x: auto;
  margin-bottom: 30px;
}

.checklistItems::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  border-radius: 10px;
  background-color: white;
}

.checklistItems::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.checklistItems::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9cb7c5;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
  height: 150px;
}

.checklistItem {
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 12px;
  border-radius: 8px;
  gap: 10px;
}
.checklistItem input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 2px solid #e2e2e2; /* Border when unchecked */
  background: none; /* No background by default */
  transition: background-color 0.3s; /* Smooth transition for background color change */
  appearance: none; /* Remove default browser styling */
}

/* Checked checkbox styles */
.checklistItem input[type="checkbox"]:checked {
  background: #17a2b8 url("../assets/checked.svg") no-repeat;
  background-position: 50% 50%;
  border-color: transparent; /* Remove border when checked */
}

.checklistItem input[type="text"] {
  border: none; /* Remove default border */
  background: transparent; /* Transparent background */
  flex: 1; /* Fill remaining space */
  padding: 0px; /* Remove padding */
  outline: none; /* Remove outline */
  font-size: 16px; /* Adjust font size */
  margin: 0px;
  line-height: 20px;
  height: 20px;
  width: 500px;
}

.deleteIcon {
  margin-left: 10px;
  cursor: pointer;
}

.addNewBtn {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: #767575;
  row-gap: 10px;
}

.addNewIcon {
  padding-right: 10px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  padding: 25px 40px 30px 40px;
  margin-top: 100px;
  font-size: 16px;
}

.cancelBtn {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 12px;
  padding: 10px 50px 10px 50px;
  margin-left: 65px;
}

.datePicker {
  background-color: transparent;
  color: #767575;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  cursor: pointer;
}

.saveBtn {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
  border-radius: 12px;
  padding: 10px 60px 10px 60px;
}

.priorityTags {
  display: flex;
  gap: 12px;
}

.priorityTag {
  padding: 5px 10px 5px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-right: 5px;
  gap: 8px;
  cursor: pointer;
  color: #767575;
}

.priorityTag.active {
  background-color: #eeecec;
  color: #767575;
}

/* PriorityDot.css */

.priorityDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
}

/* Customize colors based on priority */
.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: green;
}

.priorityContainer {
  display: flex;
  gap: 12px;
  padding: 10px 40px 10px 40px;
  align-items: center;
}

.titleContainer {
  display: flex;
}
